<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form</title>
</head>
<body>
    <h1>Submit Your Feedback</h1>
    <form method="post" action="/">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Comment:</label><br>
        <input type="text" name="comment"><br><br>
        <label>Employee_id:</label><br>
        <input type="text" name="employee_id"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
